




{% load staticfiles %}

<!DOCTYPE html>
<html>
<link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="list_items/">List Items</a>
  <a href="add_items/">Add Items</a>
  <a href="#about">About</a>
</div>

<div class="jumbotron">
    <div class="container">
         <div style="padding-left:450px">
             <h1>Insert stock detais in fields:</h1>
             <form method='POST' action="">
               
               <table>
                 {%csrf_token%}
                 {{ form.as_table }}
               </table>
               <input type="submit" value="Save"/>
             </form>
        </div>
     </div>
</div>
<div class="footer">
    <div class="footer-content-right">
      <a href="https://github.com/ekiafa/stock_management_system"><img src="img/github.jpg" class="icon-style" alt="Github icon"></a>
    </div>
</div>
</body>
</html>



