{% load staticfiles %}

<!DOCTYPE html>
<html>
<link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="list_items/">List Items</a>
  <a href="add_items/">Add Items</a>
  <a href="#about">About</a>
</div>

<div style="padding-left:px" >
  <div class="display_table">
   <table class="table">
        <th>symbol</th>
        <th></th>
        <th>name</th>
        <th></th>
        <th>sector</th>
        <th></th>
        <th>price</th>
        <th></th>
        <th>price
          earnings</th>


    
         {% for instance in queryset %}
         <tr>
             
             <td>{{instance.symbol}}<td/>
             <td>{{instance.name}}<td/>
             <td>{{instance.sector}}<td/>
             <td>{{instance.price}}<td/>
             <td>{{instance.price_earnings}}<td/>


         <tr>
         {%endfor%}
    </table>
   </div>
</div>
<div class="footer">
    <div class="footer-content-right">
      <a href="https://github.com/ekiafa/stock_management_system">
</div>
</body>
</html>

